
h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  // Estilos para el contenedor del formulario
  div {
    margin: 20px 0;
  }
  
  // Estilos para el enlace "IR"
  a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  // Estilos para la tabla
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  // Estilos para las celdas de la tabla
  td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  // Estilos para los campos de entrada
  input[type="text"],
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  // Estilos para el botón "Editar"
  button[type="submit"] {
    display: inline-block;
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  // Estilos para el botón "Eliminar"
  button[name="eliminarProducto"] {
    display: inline-block;
    padding: 8px 12px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  