<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="bg-dark">

<div class="wrapper">

    <div class="header bg-text">
        <div class="nav">
            <a th:href="@{/productos/registro}" class="btn_nav"></a>
            <a class="btn_nav" onclick="closeTable()"></a>
        </div>
    </div>

    <div>
        <h1>Crear nuevo producto</h1>

        <form th:action="@{/productos/nuevo}" th:object="${producto}" method="POST">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="nombre" class="form-control" placeholder="Introduce nombre"/>
                <input type="number" name="precio" class="form-control" placeholder="Introduce precio"/>

                <button type="submit">Enviar</button>
            </div>

        </form>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="/common.js"></script>
</body>
</html>